<html>
 <head>
  <title>Start PDF Review diagnostics</title>
  <meta name="decorator" content="atl.general"/>
 </head>
 <body>
  <div id='main'>
#if ($action.error)
  <div class='aui-message error'>
  <strong>Error:</strong> $action.error
  </div>
#end
  <ul>
   <li>Redirect: '$!action.redirect'</li>
   <li>Query string: '$req.getQueryString()'</li>
   <li>Action info: $action.diagnosticsHtml()</li>
  </ul>
  </div>
 </body>
</html>

